<p>Shamango in the house</p>
<!-- if someone is logged in, show only their posts and their friends' posts -->

<!-- match to id of current user or user's friends -->
<% curr_member = Member.find_by_id(session[:logged_in_user_id]) %>
<% allowed_ids = [curr_member.id] %>
<% Friendship.find_each do |friendship| %>
  <% if friendship.member_id_one == curr_member.id && friendship.accepted %>
    <% allowed_ids << friendship.member_id_two %>
  <% elsif friendship.member_id_two == curr_member.id && friendship.accepted %>
    <% allowed_ids << friendship.member_id_one %>
  <% end %>
<% end %>

<form name="input" action="/:member/home" method="post">
  <textarea type = "text" name = "contents" placeholder = "Write a new post!"></textarea>  
  <input type="hidden" name="reciever_id" value=<%="#{curr_member.id}"%>>
  <input type="hidden" name="page_owner" value="">
  <input type="submit" value="Submit">
</form>

<%ph = []%>
<% Post.where(member_id: curr_member.id).reverse.each do |p| %>
  <% ph << p %>
<% end %> 

<% Post.where(post_reciever: curr_member.id).reverse.each do |p| %>
  <% ph << p %>
<% end %> 

<% Post.all.reverse.each do |p| %>
  <% if allowed_ids.include?(p.member.id) %>
    <% ph << p %>
  <% end %> 
<% end %>

<% ph.sort! {|x,y| x.created_at <=> y.created_at}.reverse! %>

<%ph.uniq.each do |post|%>

  <%post_owner = false%>
  <%post_owner = true if post.member.id == curr_member.id%>
  <%member_ids_that_like_this_post = []%>
  <%Likedpost.all.each do |lp|%>
    <%if (lp.post_id == post.id)%>
      <%member_ids_that_like_this_post << lp.member_id%>
    <%end%>
  <%end%>
  <%members = []%>
  <%member_ids_that_like_this_post.each do |member_id|%>
    <%members << Member.find_by_id(member_id).first_name%>
  <%end%>

  <p>
    <%reciever = Member.find_by_id(post.post_reciever)%>
    <a href="/<%="#{post.member.first_name.split.join}_#{post.member.last_name}"%>"><%="#{post.member.first_name}"%></a> >> 
    <a href="/<%="#{reciever.first_name.split.join}_#{reciever.last_name}"%>"><%="#{reciever.first_name}"%></a>
    <%=": #{post.contents} at #{post.created_at.hour}:#{post.created_at.min}:#{post.created_at.sec} on #{post.month(post.created_at.month)} #{post.created_at.day}, #{post.created_at.year}"%> <br/>
    <%unless members.empty?%>
      <%="  ---> Liked by: #{members.join(", ")}"%><br/>
    <%end%>

    <%ch = []%>
    <% Comment.where(post_id: post.id).reverse.each do |c| %>
      <% ch << c %>
    <% end %> 
    <% ch.sort! {|x,y| x.created_at <=> y.created_at} %>
    <% ch.each do |comment|%>
      <br/><%=comment.contents%><br/>
    <%end%>
      <form name="input" action="/add_comment/home" method="post">
      <textarea type = "text" name = "contents" placeholder = "Write a comment!"></textarea>  
      <input type="hidden" name="post_id" value=<%="#{post.id}"%>>
      <input type="submit" value="Submit">
      </form>
      
  </p>

  <%liked_by_user = false%>
  <%Likedpost.all.each do |lp|%>
    <%if (lp.member_id == curr_member.id) && (lp.post_id == post.id)%>
      <%liked_by_user = true%>
    <%end%>
  <%end%>

  <%unless liked_by_user%>
    <form name="like_post" action="/likeposthome" method="post">
      <input type="hidden" name="post_id" value="<%=post.id%>">
      <input type="hidden" name="member_id" value="<%=curr_member.id%>">
      <input type="hidden" name="page_owner" value="">
      <input type="submit" value="Like!">
    </form>
  <%end%> 

  <%if post_owner%>
    <form name="delete_post" action="/deleteposthome" method="post">
      <input type="hidden" name="post_id" value="<%=post.id%>">
      <input type="hidden" name="page_owner" value="">
      <input type="submit" value="Delete">
    </form>
  <%end%>

<%end%>

