<!DOCTYPE html>
<html lang="en">
<body>

  <nav>

    <a href="/">SHAMANGO</a>
      <% if session[:logged_in_user_id] %>
        <% member = Member.find_by_id(session[:logged_in_user_id]) %>
        <a href="/<%="#{member.first_name.split.join}_#{member.last_name}"%>"><%="#{member.first_name}"%></a>
        <a href ="/logout">Logout</a>
        <a href ="/delete_account">Delete your account</a>
        <a href="/<%="#{member.first_name.split.join}_#{member.last_name}"%>/notifications">You have <%=current_members_unseen_notifications.length%> new notifications</a>
        <%if !@dont_show_search%>
          <form action="/search" method= "post">
          Search by full name: <input type="text" name="name"> 
          <input type="submit" value="Search">
          </form>
        <%end%>
      <%end%>
  </nav>

  <%= yield %>
</body>
</html>

<!-- count = 0
Notification.all.each do |n|
  if n.member_id == 1
    count+=1
  end
end
-->