
<% friends_already = false %>
<% curr_user = Member.find_by_id(session[:logged_in_user_id]) %>
<!-- this checks if the current user is friends with the owner of member_page -->
<% Friendship.find_each do |friendship| %>
  <% if ((friendship.member_id_one == @page_owner.id && friendship.member_id_two == curr_user.id) || (friendship.member_id_two == @page_owner.id && friendship.member_id_one == curr_user.id) && friendship.accepted) %>
    <% friends_already = true %>
  <% end %>
<% end %>

<!-- this checks if the current user is the owner of the member_page they are viewing. -->
<%=@page_owner.first_name%>
<% if @page_owner.id == session[:logged_in_user_id] %>
  <% requesters_and_requests = [] %>
  <% Friendship.find_each do |friend_request| %>
    <% if friend_request.accepted == false && (@page_owner.id == friend_request.member_id_one || @page_owner.id == friend_request.member_id_two) %>
      <% requester = Member.find_by_id(friend_request.member_id_one) %>
      <% requesters_and_requests << [requester, friend_request] %>
      <% unless requesters_and_requests.empty? %>
        <%= "Pending friend requests:" %>
        <% requesters_and_requests.each do |requester, request| %>
          <%= "#{requester.first_name} #{requester.last_name}" %>
          <form name="friend_confirm" action="/confirm_friend" method="post">
            <input type="hidden" name="request_id" value=<%= "#{request.id}" %>>
            <input type="hidden" name="page_owner_id" value=<%= "#{@page_owner.id}" %>>
            <input type="submit" value="Confirm <%= requester.first_name %> as a Friend">
          </form>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% elsif !friends_already %><br/>
  <form name="friend_request" action="/add_friend" method="post">
    <input type="hidden" name="member_id_one" value=<%= "#{session[:logged_in_user_id]}"%>>
    <input type="hidden" name="member_id_two" value=<%= "#{@page_owner.id}" %>>
    <input type="submit" value="Add <%= @page_owner.first_name %> as a Friend">
  </form>
<%end%>

<% if friends_already || @page_owner.id == curr_user.id %>
  <form name="input" action="/:member" method="post">
    <textarea type = "text" name = "contents" placeholder = "Write a new post!"></textarea>  
    <input type="hidden" name="reciever_id" value=<%="#{@page_owner.id}"%>>
    <input type="hidden" name="page_owner" value="<%=@page_owner.id%>">
    <input type="submit" value="Submit">
  </form>
  
  <%ph = []%>
  <% Post.where(member_id: @page_owner.id).reverse.each do |p| %>
    <% ph << p %>
  <% end %> 

  <% Post.where(post_reciever: @page_owner.id).reverse.each do |p| %>
    <% ph << p %>
  <% end %> 

  <% ph.sort! {|x,y| x.created_at <=> y.created_at}.reverse! %>

  <%ph.uniq.each do |post|%>
    <%post_owner = false%>
    <%post_owner = true if post.member.id == curr_user.id%>
    <%member_ids_that_like_this_post = []%>
    <%Likedpost.all.each do |lp|%>
      <%if (lp.post_id == post.id)%>
        <%member_ids_that_like_this_post << lp.member_id%>
      <%end%>
    <%end%>
    <%members = []%>
    <%member_ids_that_like_this_post.each do |member_id|%>
      <%members << Member.find_by_id(member_id).first_name%>
    <%end%>

    <p>
      <%reciever = Member.find_by_id(post.post_reciever)%>
      <a href="/<%="#{post.member.first_name.split.join}_#{post.member.last_name}"%>"><%="#{post.member.first_name}"%></a> >> 
      <a href="/<%="#{reciever.first_name.split.join}_#{reciever.last_name}"%>"><%="#{reciever.first_name}"%></a>
      <%=": #{post.contents} at #{post.created_at.hour}:#{post.created_at.min}:#{post.created_at.sec} on #{post.month(post.created_at.month)} #{post.created_at.day}, #{post.created_at.year}"%> <br/>
       <%unless members.empty?%>
        <%="  ---> Liked by: #{members.join(", ")}"%><br/>
      <%end%>
      <%ch = []%>
      <% Comment.where(post_id: post.id).reverse.each do |c| %>
        <% ch << c %>
      <% end %> 
      <% ch.sort! {|x,y| x.created_at <=> y.created_at} %>
      <% ch.each do |comment|%>
        <br/><%=comment.contents%><br/>
      <%end%>
        <form name="input" action="/add_comment" method="post">
        <textarea type = "text" name = "contents" placeholder = "Write a comment!"></textarea>  
        <input type="hidden" name="post_id" value=<%="#{post.id}"%>>
        <input type="hidden" name="page_owner" value="<%=@page_owner.id%>">
        <input type="submit" value="Submit">
        </form>
    </p>

    <%liked_by_user = false%>
    <%Likedpost.all.each do |lp|%>
      <%if (lp.member_id == curr_user.id) && (lp.post_id == post.id)%>
        <%liked_by_user = true%>
      <%end%>
    <%end%>

    <%unless liked_by_user%>
      <form name="like_post" action="/likepost" method="post">
        <input type="hidden" name="post_id" value="<%=post.id%>">
        <input type="hidden" name="member_id" value="<%=curr_user.id%>">
        <input type="hidden" name="page_owner" value="<%=@page_owner.id%>">
        <input type="submit" value="Like!">
      </form>
    <%end%>  

    <%if post_owner%>
      <form name="delete_post" action="/deletepost" method="post">
        <input type="hidden" name="post_id" value="<%=post.id%>">
        <input type="hidden" name="page_owner" value="<%=@page_owner.id%>">
        <input type="submit" value="Delete">
      </form>
    <%end%>

  <%end%>

<% end %>