<% friends_already = false %>
<% curr_user = Member.find_by_id(session[:logged_in_user_id]) %>
<% Friendship.find_each do |friendship| %>
  <% if (friendship.member_id_one == @member.id && friendship.member_id_two == curr_user.id) || (friendship.member_id_two == @member.id && friendship.member_id_one == curr_user.id) %>
    <% friends_already = true %>
  <% end %>
<% end %>
<%=@member.first_name%>
<% if @member.id == session[:logged_in_user_id] %>
  <% requesters_and_requests = [] %>
  <% Friendship.find_each do |friend_request| %>
    <% if friend_request.accepted == false %>
      <% requester = Member.find_by_id(friend_request.member_id_one) %>
      <% requesters_and_requests << [requester, friend_request] %>
      <% unless requesters_and_requests.empty? %>
        <%= "Pending friend requests:" %>
        <% requesters_and_requests.each do |requester, request| %>
          <%= "#{requester.first_name} #{requester.last_name}" %>
          <button type="button" onclick=<% request.accepted = true %><% request.save %>>Confirm <%= requester.first_name %> as a Friend</button>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <form name="input" action="/:member" method="post">
    <textarea type = "text" name = "contents" placeholder = "Write a new post!"></textarea>  
    <input type="submit" value="Submit">
  </form>
<% elsif !friends_already %>
<br/>
<button type="button" onclick=<% Friendship.create(:member_id_one => session[:logged_in_user_id], :member_id_two => @member.id, :accepted => false) %>>Add <%= @member.first_name %> as a Friend</button>
<%end%>

<% friends_with_page_owner = false %>
<% Friendship.find_each do |friendship| %>
  <% if (friendship.member_id_one == @member.id && friendship.member_id_two == curr_user.id) || (friendship.member_id_two == @member.id && friendship.member_id_one == curr_user.id) %>
    <% friends_with_page_owner = true %>
  <% end %>
<% end %>

<% if friends_with_page_owner %>
  <% Post.where(member_id: @member.id).reverse.each do |p| %>
     <p>
     <a href="/<%="#{p.member.first_name.split.join}_#{p.member.last_name}"%>"><%="#{p.member.first_name}"%></a>
  	 <%="- #{p.contents} at #{p.created_at.hour}:#{p.created_at.min}:#{p.created_at.sec}"%> </p>
  <% end %> 
<% end %>